body {
    a {
        text-decoration: none;
        color: black;
    }
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: white;
}

.jumbotron-sub-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron-sub-ctn-logos a{
    color: white;
}
.jumbotron-sub-ctn-logos a:hover {
   color: rgb(101, 99, 99);
}

#Education-ctn{
    padding: 80px 40px; 
}
.skills-ctn-cards:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.skills-ctn-cards img{
    width:100px;
}        
.career-container{
    background-color: antiquewhite;
     padding: 80px 40px;
}
.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 10px;
}
.projects-card{
        display: flex;
        flex-wrap: wrap;
        /* border: 1px rgb(86, 85, 85) solid;
        border-radius: 5px; */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 30px;
        padding: 30px;
        /* max-width: 400px; */
        }

.projects-card:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.contact-sub-container{
    font-size: 16px;
}
.contact-sub-container img{
    height: 24px;
}
.contact-sub-container a {
    text-decoration: none;
    color: white;
}

.contact-sub-container a:hover {
    color: rgb(204, 157, 4);
}

.certification-col-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-top: 20px;
}

@media screen and (max-width:576px) {
    .jumbotron-sub-ctn img {
        margin-bottom: 18px;
    }

    .projects-card{
    max-width: 100%;
    }   
}

@media screen and (max-width:786px) {
    .jumbotron-sub-ctn h2 {
        font-size: 20px
    }

    .jumbotron-sub-ctn h5 {
        font-size: 16px
    }
}

@media screen and (min-width:786px) {
    .jumbotron-sub-ctn-logos a{
    font-size: 24px;
}

}
